/* Mix */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.none {
  display: none;
}
.relative {
  position: relative;
}
.container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
/* Mix */
/* Header */
header {
  height: 100px;
  background-color: #000;
}
h1 {
  color: #E70000;
  line-height:100px;
}
.search-wrapper {
  line-height: 100px;
}
/* /Header */
/* Main */
main {
  background-color: #434343;
  max-width: 100%;
}
h2.movies{
  text-align: center;
  color: #E70000;
  line-height: 50px;
}
.language {
  width: 40px;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* /Main */

/* Template handlebars */
li.single-movie{
  justify-content: space-around;
  list-style: none;
  height: auto;
  background-size: cover;
  margin: 15px 0;
}
.image-poster {
  width: 342px;
  height: auto;

}
img.card {
  border: 1px solid #FFF;
  object-fit: cover;
}
.description {
  background-color: #000;
  color: #FFF;
  width: 344px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.opinion {
  color: #FFBD00;
}
.overview {
  position: relative;
  overflow: hidden;
}
